button {
    margin: 20px 0;
    line-height: normal;
    padding: 0;
    position: relative;
    cursor: pointer;
    user-select: none;
    outline:none !important;
    width:100%;
    vertical-align: top;
    display: inline-block;
}

button:active {

    outline:none;
}

button.img-info{
    background: url(../img/add-icon.png) no-repeat;
    background-size: 250px 250px;
    background-position: center;
    width: 300px;
    height: 300px;
}

button.img-success{
    background: url(../img/Files-View-File-icon.png) no-repeat;
    background-size: 250px 250px;
    background-position: center;
    width: 300px;
    height: 300px;
}

button.img-warning{
    background: url(../img/Pencil-icon.png) no-repeat;
    background-size: 250px 250px;
    background-position: center;
    width: 300px;
    height: 300px;
}

button.ribbon {
    outline:none;
    outline-color: transparent;
}

button.ribbon:before {
    border-color: #53dab6 #53dab6 #53dab6 transparent;
    
}
button.ribbon:after {
    border-color: #53dab6 transparent #53dab6 #53dab6;
    
}

button:before, button:after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 0;
    outline:none;
}

button.btn-default:before {
    border-color: #757575 #757575 #757575 transparent;
}
button.btn-default:after {
    border-color: #757575 transparent #757575 #757575;
}



button.btn-primary:before {
    border-color: #2e6da4 #2e6da4 #2e6da4 transparent;
}
button.btn-primary:after {
    border-color: #2e6da4 transparent #2e6da4 #2e6da4;
}


button.btn-success:before {
    border-color: #398439 #398439 #398439 transparent;
}
button.btn-success:after {
    border-color: #398439 transparent #398439 #398439;
}


button.btn-info:before {
    border-color: #269abc #269abc #269abc transparent;
}
button.btn-info:after {
    border-color: #269abc transparent #269abc #269abc;
}


button.btn-warning:before {
    border-color: #d58512 #d58512 #d58512 transparent;
}
button.btn-warning:after {
    border-color: #d58512 transparent #d58512 #d58512;
}


button.btn-danger:before {
    border-color: #ac2925 #ac2925 #ac2925 transparent;
}
button.btn-danger:after {
    border-color: #ac2925 transparent #ac2925 #ac2925;
}


h2 {
    display: inline-block;
    padding:0;
}